@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f4f6;
}

.link-style {
    color: #151515;
    border-bottom: 2px solid transparent;
    transition: 0.5s;
    padding-bottom: 5px;
}

.link-style:hover {
    border-bottom-color: #f97316;
    color: #374151;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #f97316;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}
